.story {
  width: 75%;
  padding: 6rem;
  margin: 0 auto;
  box-shadow: .3rem .4rem .6rem $color-black-shadow;
  background-color: $color-white;
  border-radius: .3rem;
  font-size: 3rem;

  &__shape {

  }

  &__text {
  }
}