.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  box-shadow: .3rem .4rem .6rem $color-black-shadow;
  background-color: $color-white;
  border-radius: .3rem;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  
}