.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  box-shadow: .3rem .4rem .6rem $color-black-shadow;
  background-color: rgba($color-white, .6);
  border-radius: .3rem;
  transform: skewX(-12deg);
  backface-visibility: hidden;

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;
    backface-visibility: hidden;
  }

  &__text {
    font-size: $default-font-size;
    backface-visibility: hidden;
  }


}